/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .container {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
    font-size: 18px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  div {
    font-size: 20px;
    font-weight: bold;
    color: #ff6347;
  }
  